<div class="inner">
	<ul class="bxslider">
		<li><img src="images/about-me.jpg" /></li>
		<li><img src="images/surfing.jpg" /></li>
		<li><img src="images/ucla-game.jpg" /></li>
		<li><img src="images/singing.jpg" /></li>
	</ul>
</div>

<div id="about_me"><p>I'm a recent graduate from UCLA with a B.A. in English Literature and a love for agile web development. I am passionate about helping others bring their entrepreneurial dreams to the web. I've programmed in Ruby, Ruby on Rails, HTML, CSS, and Javascript, and firmly believe that testing with RSpec, Capybara, or Jasmine is a necessity for any successful project.</p>

<p>When I'm not coding, I'm reading up on new technologies and attempting to implement them in my personal projects. I find learning fascinating and love that web development provides the perfect environment for incessant discovery.</p></div>

<a href="/" class='monogram'>LEM</a>