<h1 class="headline">About</h1>
<img id="me" src="images/collage.png"/>
<div id="about_me"><p>Born and raised in Los Angeles, California, I'm a sales engineer at Salesforce and a recent graduate from UCLA with a B.A. in English Literature.  I am passionate about building web applications that help others bring their entrepreneurial dreams to the web. I've programmed in Ruby, Ruby on Rails, HTML, CSS, and Javascript, and firmly believe that testing with RSpec, Capybara, or Jasmine is a necessity for any successful project.</p>

<p>When I'm not coding, I'm spending time soaking up the sun while hiking, rock climbing, or sitting on the beach and watching a sunset.  I love to cook and bake and explore my new city of San Francisco.  I find learning fascinating and love that web development provides the perfect environment for incessant discovery.</p></div>