<div class="panels">
	<div id="panel_1">
		<div id="navbar">
			<ul>
				<li><a href="/about">About</a></li>
				<li><a href="/resume">Resume</a></li>
				<li><a href="/portfolio">Portfolio</a></li>
			</ul>
		</div>
		<span id="name">Laura Mead</span>
	</div>
	<div id="panel_2">
		<div id="icon-menu">
			<ul>
				<li><a href="http://therubynuby.tumblr.com" target="_blank"><img src="images/tumblr.png"/></a></li>
				<li><a href="http://twitter.com/shmeadyy" target="_blank"><img src="images/twitter.png"/></a></li>
				<li><a href="http://www.linkedin.com/pub/laura-mead/5b/958/b04" target="_blank"><img src="images/linkedin.png"/></a></li>
				<li><a href="http://github.com/shmeadyy" target="_blank"><img src="images/github.png"/></a></li>
			</ul>
		</div>
	</div>
</div>