<div id="navbar">
	<ul>
		<li><a href="/about">About</a></li>
		<li><a href="#">Resume</a></li>
		<li><a href="/portfolio">Portfolio</a></li>
	</ul>
</div>
<div id="picture"><img src="main_picture.PNG"/></div>
<h1> Laura Mead </h1>
<div id="icon-menu">
	<ul>
		<li><a href="http://www.therubynuby.tumblr.com"><img src="tumblr.png"/></a></li>
		<li><a href="http://twitter.com/shmeadyy"><img src="twitter.png"/></a></li>
		<li><a href="http://www.linkedin.com/pub/laura-mead/5b/958/b04"><img src="linkedin.png"/></a></li>
		<li><a href="http://github.com/shmeadyy"><img src="github.png"/></a></li>
	</ul>
</div>