<h1 class="headline">Portfolio</h1>


<div class="grid-block-container">
	<div class="grid-block fade">
		<div class="caption">
			<h3>Star Wars Type Racer</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			<p><a href="http://starwarsracer.herokuapp.com" class="learn-more">Visit</a></p>
		</div>
		<img src="images/starwarsracer.png"/>
		<h3>Star Wars Type Racer</h3>
	</div>

	<div class="grid-block fade">
		<div class="caption">
			<h3>The Dirty Hipster</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			<p><a href="http://dirtyhipster.herokuapp.com" class="learn-more">Visit</a></p>
		</div>
		<img src="images/dirtyhipster.png"/>
		<h3>The Dirty Hipster</h3>
	</div>

	<div class="grid-block fade">
		<div class="caption">
			<h3>No Reservations</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			<p><a href="http://noreservations.herokuapp.com" class="learn-more">Visit</a></p>
		</div>
		<img src="images/noreservations.png"/>
		<h3>No Reservations</h3>
	</div>
</div>

<a href="/" class='monogram'>LEM</a>