<h1 class="headline">Portfolio</h1>


<ul class="rig">
	<li>
		<img src="images/starwarsracer.png"/>
		<h3>Star Wars Type Racer</h3>
	</li>
	<li>
		<img src="images/dirtyhipster.png"/>
		<h3>The Dirty Hipster</h3>
	</li>
	<li>
		<img src="images/noreservations.png"/>
		<h3>No Reservations</h3>
	</li>
</ul>