<div class="resume">
	<h1>Laura Mead</h1>

	<h3>Education</h3>
	<span class="title">Dev Bootcamp</span>
	<span class="dates">
		<p>San Francisco, CA</p>
		<p>Sept. 2013 - Nov. 2013</p>
	</span>
	<ul>
		<li>A 9-week intensive program; 700+ total hours spent creating test-driven, production-quality code.</li>
		<li>Managed multi-person projects with time-sensitive deadlines</li>
		<li>Created “No Reservations”, a dynamic waitlist app for
			restaurants that notifies customers of their wait times for final project. (noreservations.herokuapp.com) 96.6% test coverage over 650+ lines of code.</li>
	</ul>
	<span class="title">University of California, Los Angeles</span>
	<span class="dates">
		<p>Los Angeles, CA</p>
		<p>Sept, 2009 - June, 2013</p>
	</span>
	<ul>
		<li>B.A., English Literature</li>
		<li>Received the Herb Alpert full-ride, merit-based scholarship for Oboe Performance</li>
		<li>Member of UCLA Opera, UCLA Chorale, UCLA Philharmonia, Symphony and Wind Ensemble</li>
		<li>Member of Pi Beta Phi / National Panhellenic Council: VP of Communications, VP of Recruitment</li>
	</ul>
	<span class="title">La Canada High School</span>
	<span class="dates">
		<p>La Canada Flintridge, CA</p>
		<p>June, 2009</p>
	</span>
	<ul>
		<li>California Scholarship Federation</li>
		<li>National Honor Society</li>
	</ul>
	<h3>Experience</h3>
	<span class="title">Head Front-End Developer - BeautyWhim</span>
	<span class="dates">
		<p>San Francisco, CA</p>
		<p>Dec.2013 - present</p>
	</span>
	<ul>
		<li>Developing the user interface/experience for small start-up, BeautyWhim, a mobile web application similar to Yelp for beauty services</li>
	</ul>
	<span class="title">Assistant - Goldbely</span>
	<span class="dates">
		<p>SoMa, San Francisco, CA</p>
		<p>December, 2013</p>
	</span>
	<ul>
		<li>Wrote copy for new merchant's products, which is live on goldbely.com</li>
		<li>Respond to customer support emails/inquiries on UserVoice and Olark</li>
		<li>Small start-up experience (~10 team members)</li>
	</ul>
		<span class="title">Campus Tour Guide - UCLA</span>
		<span class="dates">
			<p>Los Angeles, CA</p>
			<p>Feb. 2012 - Jul. 2013</p>
		</span>
		<ul>
			<li>Required skills in communication, public speaking and walking backwards</li>
			<li>Basic office work: scheduling personal and group tours, answering phones, responding to emails</li>
		</ul>
		<span class="title">Intern for Legal Advisor of Grand Jury</span>
		<span class="dates">
			<p>Los Angeles, CA</p>
			<p>June, 2012 - Sept. 2012</p>
		</span>
		<ul>
			<li>Prepared Grand Jury courtroom for hearings by photocopying exhibits and important documents</li>
			<li>Observed criminal trials</li>
		</ul>
	<h3>Skills and Awards</h3>
	<span class="title">Web Development</span>
	<ul>
		<li>Proficient in Ruby, HTML, CSS, Rails, ActiveRecord</li>
		<li>Familiar with Heroku, Sinatra, OO Javascript, AJAX, jQuery, SQL</li>
		<li>Comfortable with Unix command line, Git version control, Postgres</li>
		<li>Test-driven development with RSPEC, Capybara, and Jasmine</li>
	</ul>
	<span class="title">Honor Societies - UCLA</span>
	<ul>
		<li>Alpha Lambda Delta</li>
		<li>Sigma Alpha Lambda</li>
		<li>Phi Eta Sigma</li>
	</ul>
</div>
<a href="/"><img src="images/back_arrow.png" id="home"/></a>