<div class="resume">
<h1>Laura Mead</h1>

<h3>Education</h3>
	<h4>University of California, Los Angeles</h4>
		<ul>
			<li>B.A., English Literature</li>
			<li>Received the Herb Alpert full-ride, merit-based scholarship for Oboe Performance</li>
			<li>Member of UCLA Opera, UCLA Chorale, UCLA Philharmonia/Symphony/ Wind Ensemble</li>
			<li>Pi Beta Phi / National Panhellenic Council: VP of Communications, VP of Recruitment</li>
		</ul>
	<h4>La Canada High School</h4>
		<ul>
			<li>California Scholarship Federation</li>
			<li>National Honor Society</li>
		</ul>
<h3>Experience</h3>
	<span>Dev Bootcamp</span>
	<span class="dates">
		<p>San Francisco, CA</p>
		<p>Sept. 2013 - Nov. 2013</p>
	</span>
	<ul>
		<li>A 9-week intensive program; 700+ total hours spent creating test-driven, production-quality code.</li>
		<li>Managed multi-person projects with time-sensitive deadlines</li>
		<li>Created “No Reservations”, a dynamic waitlist app for
restaurants that notifies customers of their wait times for final project. (noreservations.herokuapp.com) 96.6% test coverage over 650+ lines of code.</li>
	</ul>


</div>

<a href="/"><img src="images/back_arrow.png" id="home"/></a>