@font-face {
	font-family: Monogram;
	src: url('/fonts/monogram.ttf');
}

@font-face {
	font-family: Sullivan;
	src: url('/fonts/Sullivan-Regular.otf');
}

@font-face {
	font-family: Edmondsans-Bold;
	src: url('/fonts/Edmondsans-Bold.otf');
}

@font-face {
	font-family: Edmondsans-Regular;
	src: url('/fonts/Edmondsans-Regular.otf');
}

.monogram {
	background-color: #222B40;
	border: 5px solid #222B40;
	border-radius: 35px;
	color: #FF8B6E;
	display: inline-block;
	font-family: Monogram;
	font-size: 7em;
	margin-left: 41%;
	padding: 10px;
	text-decoration: none;
}

.monogram:hover {
	color: #fff;
}

#home:hover {
	border-radius: 33px;
	background-color: #FFEBE4;
}

#home:active {
	background-color: white;
}

.headline {
	font-family: 'Ruthie', cursive;
	color: #222B40;
	font-size: 4.5em;
	margin: 0;
	text-align: center;
}

#about_me {
	font-family: 'Nixie One', cursive;
	background-color: white;
	font-size: 1.5em;
	font-weight: bold;
	margin-left: 2%;
	opacity: 0.85;
	text-align: justify;
	width: 97%;
}

.resume {
	background-color: white;
	width: 90%;
	margin-left: 4%;
	font-family: Edmondsans-Regular;
}

.resume h1 {
	font-family: 'Sullivan';
	font-size: 4em;
	letter-spacing: 0.09em;
	margin: 0;
	margin-bottom: 0.5em;
	text-align: center;
}

h3 {
	font-family: Edmondsans-Bold;
	margin: 0;
	text-align: center;
	text-decoration: underline;
}

.dates {
	display: inline-block;
	float: right;
	text-align: right;
}

.dates p {
	margin: 0;
}

.title {
	font-family: Edmondsans-Bold;
	font-style: italic;
}