#about_me {
	font-family: 'Satisfy', cursive;
	color: white;
	float: right;
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 1em;
	margin-right: 30px;
	text-align: justify;
	width: 50%;
}

.resume {
	background-color: white;
	width: 90%;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 4%;
}

.resume h1 {
	font-family: 'Sullivan';
	font-size: 4em;
	letter-spacing: 0.09em;
	margin: 0;
	margin-bottom: 0.5em;
	text-align: center;
}

h3 {
	font-family: 'Satisfy', cursive;
	margin: 0;
	text-align: center;
	color: white;
}

.dates {
	display: inline-block;
	float: right;
	text-align: right;
}

.dates p {
	margin: 0;
}

.title {
	font-family: Edmondsans-Bold;
	font-style: italic;
}

li {
	width: 80%;
}

#me {
	margin-top: 4em;
	margin-left: 6.5em;
}