body {
	background-color: #003058;
	margin: 0;
	height: 100%;
	font-size: 16px;
}

.panels {
	width: 100%;
	display: block;
	position: fixed;
}

#panel_1 {
	height: 219px;
	margin-top: 0px;
	background-color: #003058;
	padding-bottom: 115px;
}

#panel_2 {
	height: 4000px;
	background-color: #F04C40;
	z-index: 3;
}

#anchor {
	border-radius: 72px;
	margin-top: 6em;
	margin-left: 34.5em;
}

#quote {
	font-size: 20px;
	font-family: 'La Belle Aurore', cursive;
	margin-top: 27px;
	text-align: center;
	color: white;
}
#name {
	font-family: 'Amatic SC', cursive;
	color: white;
	margin-left: 6.5em;
	display: inline-block;
	font-size: 5em;
}

#navbar ul { 
	border-radius: 5px;
	margin: 0; 
	padding: 5px; 
	list-style-type: none; 
	text-align: center; 
	background-color: #168A8F; 
} 

#navbar ul li {  
	font-family: 'Amatic SC', cursive;
	font-size: 25px;
	display: inline;
	margin: 20px;
} 

#navbar ul li a { 
	border-radius: 5px;
	text-decoration: none; 
	padding: .2em 1em; 
	color: white; 
	background-color: #168A8F; 
} 

#navbar ul li a:hover { 
	color: #003058; 
} 

#icon-menu ul {
	list-style-type: none; 
	margin-left: 33%;
}

#icon-menu ul li {
	display: inline;
	margin: 10px;
}

#icon-menu ul li img:hover {
	background-color: #FFEBE4;
	border-radius: 32px;
}