.grid-block-container {
	width: 100%;
	text-align: center;
}
.grid-block {
	position: relative;
	float: left;
	width: 25%;
	height: 200px;
	padding-left: 5px;
	margin: 48px;
}
.grid-block h4 {
	font-size: .9em;
	color: #333;
	background: #f5f5f5;
	margin: 0;
	padding: 10px;
	border: 1px solid #ddd;
}

.headline {
	color: white;
	font-family: 'Satisfy', cursive;
	text-align: center;
	margin-bottom: 0;
	margin-top: 1em;
}
 
.caption {
	display: none;
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 0;
	left: 5px;
	width: 99%;
	height: 84%;
}

.caption p {
	font-family: 'Architects Daughter', cursive;
	color: #fff;
	padding: 8px;
	margin: 1em ;
	font-size: 0.85em;
	line-height: 1.5em;
}
.caption a.learn-more {
	padding: 5px 10px;
	background: #8D2663;
	color: #fff;
	border-radius: 2px;
	-moz-border-radius: 2px;
	font-weight: bold;
	text-decoration: none;
}
.caption a.learn-more:hover {
	background: #fff;
	color: #8D2663;
}