@font-face {
	font-family: Monogram;
	src: url('monogram.ttf');
}

#monogram {
	background-color: #222B40;
	border: 5px solid #222B40;
	border-radius: 76px 5px;
	color: #FF8B6E;
	font-family: Monogram;
	font-size: 7em;
	margin-left: 37%;
	padding: 10px;
	text-align: center;
	text-decoration: none;
}

#monogram:hover {
	color: #fff;
}