@font-face {
	font-family: Monogram;
	src: url('monogram.ttf');
}

.monogram {
	background-color: #222B40;
	border: 5px solid #222B40;
	border-radius: 35px;
	color: #FF8B6E;
	display: inline-block;
	font-family: Monogram;
	font-size: 7em;
	margin-left: 40%;
	padding: 10px;
	text-decoration: none;
}

.monogram:hover {
	color: #fff;
}

iframe {
	height: 620px;
	width: 50%;
	margin-left: 25%;
	frameborder: 0px;
	scrolling: auto;
}